fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
google-auth
requests
httpx
langchain-core
langchain-pinecone
langchain-huggingface
langchain-groq
openai>=1.40.0
sentence-transformers
torch
alembic
pydantic-settings
shapely
pinecone
